@function imageUrl ($image) {
  @return url('../assets/img/' + $image + '.png');
}

@function zoom ($number) {
  @return $number * $zoom;
}

$zoom: 4;

$color-black:           rgb(  0,   0,   0);
$color-blue:            rgb(  0,   0, 255);
$color-green:           rgb(  0, 219,   0);
$color-blue-light:      rgb(  0, 219, 219);
$color-grey-dark:       rgb( 73,  73,  73);
// $color-brown-dark:   rgb(101,  41,  13);
$color-grey:            rgb(109, 109, 109);
// $color-brown:        rgb(136,  75,  25);
// $color-grey-light:   rgb(146, 146, 146);
// $color-grey-lighter: rgb(182, 182, 182);
//                      rgb(195, 130,  97);
// $color-brown-light:  rgb(208, 148, 115);
//                      rgb(227, 162,   0);
$color-red:             rgb(255,   0,   0);
$color-orange:          rgb(255, 182,   0);
$color-yellow:          rgb(255, 255,   0);
$color-white:           rgb(255, 255, 255);

$color-champion-1:      $color-green;
$color-champion-2:      $color-yellow;
$color-champion-3:      $color-red;
$color-champion-4:      $color-blue;
