@import './_variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $color-black;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}
