@import './common.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $color-black;
}

div {
  position: absolute;
  box-sizing: border-box;
}

.list-item {
  position: relative;
  float: left;

  &:last-child {
    margin-right: 0;
  }
}
